{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"release"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"source/preloader.js",
      "sourceType":"preloader"
    }
  ],
  "resources":[],
  "nativeDirs":[
    {
      "path":"native/kernelex"
    }
  ],
  "javaDirs":[
    {
      "path":"java/kernelex"
    }
  ],
  "buildDirs":[]
}