{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"library/CropLib.js",
      "sourceType":"library"
    },
    {
      "path":"library/framework.js",
      "sourceType":"library"
    }
  ],
  "resources":[
    {
      "path":"gui/gui",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[],
  "buildDirs":[]
}