{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"release",
    "resourcePacksDir":"minecraft_packs/resource",
    "behaviorPacksDir":"minecraft_packs/behavior"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[],
  "nativeDirs":[
    {
      "path":"native/appleskin"
    }
  ],
  "javaDirs":[],
  "buildDirs":[]
}