{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"source/script.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[
    {
      "path":"native/infinite-depth"
    }
  ],
  "javaDirs":[],
  "resources":[]
}