{
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"release",
    "api":"CoreEngine",
    "libraryDir":"lib/"
  },
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "buildDirs":[],
  "nativeDirs":[],
  "javaDirs":[]
}