{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"release",
    "libraryDir":"lib/"
  },
  "resources":[
    {
      "path":"res/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"dev/"
    }
  ],
  "compile":[
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"main.js",
      "sourceType":"mod"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}