{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"release"
  },
  "compile":[
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"source/preloader.js",
      "sourceType":"preloader"
    }
  ],
  "resources":[],
  "nativeDirs":[],
  "javaDirs":[],
  "buildDirs":[]
}