{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"library/BlockEngine.js",
      "sourceType":"library"
    },
    {
      "path":"library/RenderUtil.js",
      "sourceType":"library"
    },
    {
      "path":"library/StorageInterface.js",
      "sourceType":"library"
    },
    {
      "path":"library/VanillaSlots.js",
      "sourceType":"library"
    }
  ],
  "resources":[
    {
      "path":"resources/assets",
      "resourceType":"resource"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[],
  "buildDirs":[]
}