{
  "defaultConfig": {
    "readme": "this build config is generated automatically by mod development toolchain",
    "api": "CoreEngine",
    "buildType": "develop"
  },
  "buildDirs": [],
  "compile": [
    {
      "path": "source/launcher.js",
      "sourceType": "launcher"
    },
    {
      "path": "source/script.js",
      "sourceType": "mod"
    }
  ],
  "nativeDirs": [
    {
      "path": "native/signedit"
    }
  ],
  "javaDirs": [
    {
      "path": "java/signedit"
    }
  ],
  "resources": []
}