{
  "defaultConfig":{
    "readme":"this build config is generated automatically by mod development toolchain",
    "api":"CoreEngine",
    "buildType":"develop"
  },
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"library/BlockEngine.js",
      "sourceType":"library"
    },
    {
      "path":"library/DependenceHelper.js",
      "sourceType":"library"
    },
    {
      "path":"library/Patched.js",
      "sourceType":"library"
    }
  ],
  "resources":[],
  "nativeDirs":[],
  "javaDirs":[
    {
      "path":"java/patched"
    }
  ],
  "buildDirs":[]
}