{
  "defaultConfig":{
    "buildType":"release",
    "api":"CoreEngine",
    "libraryDir":"qupt/lib/"
  },
  "resources":[
    {
      "path":"res/",
      "resourceType":"resource"
    },
    {
      "path":"res/gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"qupt/dev/",
      "targetSource":".source/main.js"
    }
  ],
  "compile":[
    {
      "path":".source/main.js",
      "sourceType":"mod"
    },
    {
      "path":".source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}