{
  "defaultConfig":{
    "readme":"Антон скопил мод на тулчейне, так шо респект Сане",
    "buildType":"release",
    "api":"CoreEngine"
  },
  "resources":[
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[
    {
      "path":"native/sample"
    }
  ],
  "javaDirs":[
    {
      "path":"java/java"
    }
  ]
}